
@{
    ViewBag.Title = "DanisanEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Buttons-->
@section HeaderCss{

    <link href="~/Content/css/Danisan/DanisanEkle/DanisanEkle.css" rel="stylesheet" />

}

<section>
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-9 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">
                            <button class="btn btn-success" id="btnTemelBilgiModal">
                                Temel Bilgi
                            </button>
                        </h6>

                        <h6 class="h2 text-white d-inline-block mb-0">
                            <button style="margin-right:0;" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false" class="btn btn-success nav-link-inner--text">
                                Anket
                            </button>

                            <div class="dropdown-menu">
                                <a id="btnDiyetOykusuModal" class="dropdown-item"
                                   href="javascript:void(0)">Diyet Öyküsü</a>
                                <a id="btnBesinAliskanlikModal" class="dropdown-item" href="javascript:void(0)">Besin Alışkanlıklarınız</a>
                                <a id="btnGecmisModal" class="dropdown-item" href="javascript:void(0)">Özgeçmiş</a>
                                <a id="btnGenelAliskanlikModal" class="dropdown-item" href="javascript:void(0)">Alışkanlıklarınız</a>

                                <a id="btnHareketModal" class="dropdown-item" href="javascript:void(0)">Hareket ve Egzersiz Alışkanlıklarınız</a>
                                <a id="btnKisiselModal" class="dropdown-item" href="javascript:void(0)">Kişisel İlgi Alanlarınız</a>
                            </div>

                        </h6>

                        <h6 class="h2 text-white d-inline-block mb-0">
                            <button id="btnAntropometriModal" class="btn btn-success">
                                Antropometri
                            </button>
                        </h6>
                        <h6 class="h2 text-white d-inline-block mb-0">
                            <button id="btnMenuModal" class="btn btn-success">
                                Menü/Diyet Planı
                            </button>
                        </h6>
                        <h6 class="h2 text-white d-inline-block mb-0">
                            <button id="btnEgzersizModal" class="btn btn-success">
                                Egzersiz Programı
                            </button>
                        </h6>
                        <h6 class="h2 text-white d-inline-block mb-0">
                            <button id="btnFinansModal" class="btn btn-success">
                                Finans
                            </button>
                        </h6>
                        <h6 class="h2 text-white d-inline-block mb-0">
                            <button id="btnNotModal" class="btn btn-success">
                                Notlar
                            </button>
                        </h6>

                    </div>
                    <div class="col-lg-3 col-5 text-right">
                        <h6 class="h2 text-white d-inline-block mb-0">
                            <a href="#!" class="btn btn-neutral">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Kaydet
                                    </font>
                                </font>
                            </a>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end: Buttons-->

<section>
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card" style="min-height: 350px;">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <h3 class="mb-0">Danışan Ekle</h3>
                    </div>

                    <div id="kisiBilgisi" data-url='@Url.Action("DanisanBilgiTemel","PartialDanisan")'>

                    </div>

                    <div id="diyetOykusu" data-url='@Url.Action("DiyetOykusu","PartialDanisan")'>

                    </div>

                    <div id="besinAliskanligi" data-url='@Url.Action("BesinAliskanlik","PartialDanisan")'>

                    </div>

                    <div id="ozGecmis" data-url='@Url.Action("Gecmis","PartialDanisan")'>

                    </div>

                    <div id="genelAliskanlik" data-url='@Url.Action("GenelAliskanlik","PartialDanisan")'>

                    </div>

                    <div id="hareket" data-url='@Url.Action("Hareket","PartialDanisan")'>

                    </div>

                    <div id="Kisisel" data-url='@Url.Action("Kisisel","PartialDanisan")'>

                    </div>

                    <div id="Antropometri" data-url='@Url.Action("Antropometri","PartialDanisan")'>

                    </div>

                    <div id="Egzersiz" data-url='@Url.Action("Egzersiz","PartialDanisan")'>

                    </div>

                    <div id="Finans" data-url='@Url.Action("Finans","PartialDanisan")'>

                    </div>

                    <div id="Not" data-url='@Url.Action("Not","PartialDanisan")'>

                    </div>

                    @*<div class="card-body">
                            <h6 class="heading-small text-muted mb-4">Menü</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-4">

                                    </div>
                                    <div class="col-lg-4">

                                    </div>
                                    <div class="col-lg-4">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">

                                    </div>
                                    <div class="col-lg-4">

                                    </div>
                                    <div class="col-lg-4">

                                    </div>
                                </div>
                            </div>

                        </div>*@

                </div>
            </div>
        </div>

    </div>
</section>


<section>

    <div class="modal fade" id="modal-anket-temelBilgi" data-url='@Url.Action("TemelBilgiModal","PartialModal")' tabindex="-1" role="dialog" aria-labelledby="modal-form"
         aria-hidden="true">
    </div>

    <div class="modal fade" id="modal-anket-diyetOykusu" data-url='@Url.Action("DiyetOykusuModal","PartialModal")' tabindex="-1" role="dialog" aria-labelledby="modal-form"
         aria-hidden="true">
    </div>

    <div class="modal fade" id="modal-anket-besinAliskanlik" data-url='@Url.Action("BesinAliskanlikModal","PartialModal")' tabindex="-1" role="dialog" aria-labelledby="modal-form"
         aria-hidden="true">
    </div>

    <div class="modal fade" id="modal-anket-gecmis" data-url='@Url.Action("GecmisModal","PartialModal")' tabindex="-1" role="dialog" aria-labelledby="modal-form"
         aria-hidden="true">
    </div>

    <div class="modal fade" id="modal-anket-genelAliskanlik" data-url='@Url.Action("GenelAliskanlikModal","PartialModal")' tabindex="-1" role="dialog" aria-labelledby="modal-form"
         aria-hidden="true">
    </div>

    <div class="modal fade" id="modal-anket-hareket" data-url='@Url.Action("HareketModal","PartialModal")' tabindex="-1" role="dialog" aria-labelledby="modal-form"
         aria-hidden="true">
    </div>

    <div class="modal fade" id="modal-anket-kisisel" data-url='@Url.Action("KisiselModal","PartialModal")' tabindex="-1" role="dialog" aria-labelledby="modal-form"
         aria-hidden="true">
    </div>

    <div class="modal fade" id="modal-anket-antropometri" data-url='@Url.Action("AntropometriModal","PartialModal")' tabindex="-1" role="dialog" aria-labelledby="modal-form"
         aria-hidden="true">
    </div>

    <div class="modal fade" id="modal-anket-menu" data-url='@Url.Action("MenuModal","PartialModal")' tabindex="-1" role="dialog" aria-labelledby="modal-form"
         aria-hidden="true">
    </div>

    <div class="modal fade" id="modal-anket-egzersiz" data-url='@Url.Action("EgzersizModal","PartialModal")' tabindex="-1" role="dialog" aria-labelledby="modal-form"
         aria-hidden="true">
    </div>

    <div class="modal fade" id="modal-anket-finans" data-url='@Url.Action("FinansModal","PartialModal")' tabindex="-1" role="dialog" aria-labelledby="modal-form"
         aria-hidden="true">
    </div>

    <div class="modal fade" id="modal-anket-not" data-url='@Url.Action("NotModal","PartialModal")' tabindex="-1" role="dialog" aria-labelledby="modal-form"
         aria-hidden="true">
    </div>
</section>

@section DanisanEkle{

    <script>
        $('#btnTemelBilgiModal').click(function () {
            var url = $('#modal-anket-temelBilgi').data('url');

            if ($("#kisiBilgisi > .card-body").length != 0) {
                toastr.error(" 2. Bir Temel Bilgi Eklenemez !");
                return false;
            }

            $.get(url, function (data) {
                $('#modal-anket-temelBilgi').html(data);

                $('#modal-anket-temelBilgi').modal('show');
            });
        });

        $('#btnDiyetOykusuModal').click(function () {
            var url = $('#modal-anket-diyetOykusu').data('url');

            if ($("#diyetOykusu > .card-body").length != 0) {
                toastr.error(" 2. Bir Diyet Öyküsü Eklenemez !");
                return false;
            }

            $.get(url, function (data) {
                $('#modal-anket-diyetOykusu').html(data);

                $('#modal-anket-diyetOykusu').modal('show');
            });
        });

        $('#btnBesinAliskanlikModal').click(function () {
            var url = $('#modal-anket-besinAliskanlik').data('url');

            if ($("#besinAliskanligi > .card-body").length != 0) {
                toastr.error(" 2. Bir Besin Alışkanlığı Eklenemez !");
                return false;
            }

            $.get(url, function (data) {
                $('#modal-anket-besinAliskanlik').html(data);

                $('#modal-anket-besinAliskanlik').modal('show');
            });
        });

        $('#btnGecmisModal').click(function () {
            var url = $('#modal-anket-gecmis').data('url');

            if ($("#ozGecmis > .card-body").length != 0) {
                toastr.error(" 2. Bir Öz Geçmiş Eklenemez !");
                return false;
            }

            $.get(url, function (data) {
                $('#modal-anket-gecmis').html(data);

                $('#modal-anket-gecmis').modal('show');
            });
        });

        $('#btnGenelAliskanlikModal').click(function () {
            var url = $('#modal-anket-genelAliskanlik').data('url');

            if ($("#genelAliskanlik > .card-body").length != 0) {
                toastr.error(" 2. Bir Genel Alışkanlık Eklenemez !");
                return false;
            }

            $.get(url, function (data) {
                $('#modal-anket-genelAliskanlik').html(data);

                $('#modal-anket-genelAliskanlik').modal('show');
            });
        });

        $('#btnHareketModal').click(function () {
            var url = $('#modal-anket-hareket').data('url');

            if ($("#hareket > .card-body").length != 0) {
                toastr.error(" 2. Bir Hareket Ve Egzersiz Alışkanlığı Eklenemez !");
                return false;
            }

            $.get(url, function (data) {
                $('#modal-anket-hareket').html(data);

                $('#modal-anket-hareket').modal('show');
            });
        });

        $('#btnKisiselModal').click(function () {
            var url = $('#modal-anket-kisisel').data('url');

            if ($("#Kisisel > .card-body").length != 0) {
                toastr.error(" 2. Bir Kişisel İlgi Alanı Eklenemez !");
                return false;
            }

            $.get(url, function (data) {
                $('#modal-anket-kisisel').html(data);

                $('#modal-anket-kisisel').modal('show');
            });
        });

        $('#btnAntropometriModal').click(function () {
            var url = $('#modal-anket-antropometri').data('url');

            if ($("#Antropometri > .card-body").length != 0) {
                toastr.error(" 2. Bir Antropometri Eklenemez !");
                return false;
            }

            $.get(url, function (data) {
                $('#modal-anket-antropometri').html(data);

                $('#modal-anket-antropometri').modal('show');
            });
        });

        $('#btnMenuModal').click(function () {
            var url = $('#modal-anket-menu').data('url');

            //if ($("#kisiBilgisi > .card-body").length != 0) {
            //    toastr.error(" 2. Bir Teme Bilgi Eklenemez !");
            //    return false;
            //}

            $.get(url, function (data) {
                $('#modal-anket-menu').html(data);

                $('#modal-anket-menu').modal('show');
            });
        });

        $('#btnEgzersizModal').click(function () {
            var url = $('#modal-anket-egzersiz').data('url');

            if ($("#Egzersiz > .card-body").length != 0) {
                toastr.error(" 2. Bir Egzersiz Programı Eklenemez !");
                return false;
            }

            $.get(url, function (data) {
                $('#modal-anket-egzersiz').html(data);

                $('#modal-anket-egzersiz').modal('show');
            });
        });

        $('#btnFinansModal').click(function () {
            var url = $('#modal-anket-finans').data('url');

            if ($("#Finans > .card-body").length != 0) {
                toastr.error(" 2. Bir Finans Eklenemez !");
                return false;
            }

            $.get(url, function (data) {
                $('#modal-anket-finans').html(data);

                $('#modal-anket-finans').modal('show');
            });
        });

        $('#btnNotModal').click(function () {

            if ($("#Not > .card-body").length != 0) {
                toastr.error(" 2. Bir Not Eklenemez !");
                return false;
            }

            var url = $('#modal-anket-not').data('url');

            $.get(url, function (data) {
                $('#modal-anket-not').html(data);

                $('#modal-anket-not').modal('show');
            });
        });
    </script>

    <script>
      
    </script>
}